#header-logo{
	height: 70px;
	margin: 20px;
}
#num-people{
	font-weight: bold;
	color: #5ec49e;
}

#hero {
	text-align: center;
}
#desc {
	padding: 35px 15px;
	position: relative;
}
#desc p {
	margin-bottom: 0.5em;
}
#desc img {
	height: 80px;
	z-index: -1;
	bottom: 0;
	position: absolute;
}
@media only screen and (max-width: 950px) {
	#desc img {
		display: none;
	}
}
#plant1 {
	left: 0;
}
#plant2 {
	right: 0;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid gray;
}
.separator::before {
    margin-right: 1em;
}
.separator::after {
    margin-left: 1em;
}

.navbar{
	background-color: #eff9f5;
	text-align: center;
	padding: 8px 0px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 3px solid #d4deda;
	margin-bottom: 40px;	
}

.zakat-bar {
	display: flex;
	align-items: center;
}
#zakat-val {
	margin-left: 32px;
	font-size: 2em;
}
#zakat-preview {
	margin-left: 10px;
}
#zakat-preview, #zakat-val {
	color: #2e67b2;
}

.btn-success {
	background-color: #5ec49e !important;
}

h3 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.explanation{
	color: gray;
	font-size: 0.9rem;
}
.form-group {
	margin-bottom: 40px;
}