.masthead-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead-index {
  height: 100vh;
  min-height: 500px;
  background-image: url('bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media only screen and (min-width: 768px) {
  #masthead-intro{
    max-width: 800px;
  }
}


#card-count{
  font-weight: bold;
  color: #17a2b8;  
}
.navbar-brand
{
  font-family: "Lobster", serif;
  font-size: 24px;
}

.lead {
	padding-top: 20px;
	padding-bottom: 20px;
  font-size: 1.5rem !important;
}

#selectors{
  position:absolute;
  top: 80px;
}

body{
  background-image: url('bg.jpeg');
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

#faq-container{
  margin-top:100px;
}



#card-div{
  margin-top:100px;
  padding: 20px;
  background-color: #17a2b8;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
}

#taboos-div{
  margin:10px;
  padding: 10px;
  background-color: white;
  color: #17a2b8;
  font-weight: normal;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #card-div{
    font-size: 2rem !important;
  }
  #taboos-div {
    font-size: 2rem !important;
  }
}


#taboos-div p{
  margin-top: 40px;
  margin-bottom: 40px;  
}

.bottomPadding{
  margin-bottom: 10px;
}

#card-number{
  font-size: 0.75rem;
}

#page-content {
  flex: 1 0 auto;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

#download-desktop-app{
    color: white;
}

.btn{
  font-weight: bold;
}


.lead{
  color: black;  
}

#user-message{
  font-size: 2rem !important;
}
