#header-logo{
	height: 70px;
	margin: 20px;
}
#num-people,.heavy{
	font-weight: bold;
	color: #5ec49e;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #d4deda;
  margin-bottom: 40px;	
}

.investments-related{
	display: none;
	background-color: #f6fff6;
	padding: 20px;
}
.real-estate-related{
	display: none;
	background-color: #f6fff6;
	padding: 20px;
}

.business-related{
	display: none;
	background-color: #f6fff6;
	padding: 20px;
}

.card-text{
	font-size:3rem;
	color: #5ec49e;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}


#hero {
	text-align: center;
}
#desc {
	padding: 35px 15px;
	position: relative;
}
#desc p {
	margin-bottom: 0.5em;
}
#desc img {
	height: 80px;
	z-index: -1;
	bottom: 0;
	position: absolute;
}
@media only screen and (max-width: 950px) {
	#desc img {
		display: none;
	}
}
#plant1 {
	left: 0;
}
#plant2 {
	right: 0;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid gray;
}
.separator::before {
    margin-right: 1em;
}
.separator::after {
    margin-left: 1em;
}

.navbar{
	background-color: #eff9f5;
	text-align: center;
	padding: 8px 0px;
	border-top: 1px solid #e2e2e2;
}

.zakat-bar {
	display: flex;
	align-items: center;
}
#zakat-val {
	margin-left: 32px;
	font-size: 2em;
	color: #2e67b2;
}
#calculate-zakat-button{
	color:white;
	margin-bottom:15px;
}

#learn-more a{
	color:black;
	font-size:0.85rem;
}

.form-group.required>label:before { 
   content:"* ";
   color:red;
}

.form-group.hidden>label:after { 
   content:" (skip) ";
   font-style: italic; 
}

.form-group.hidden .input-group{ 
   display: none;
}

.form-group.hidden>label { 
   color: gray; 
}


.btn-success-muted {
	background-color: #5ec49e !important;
}

h3 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.explanation{
	color: gray;
	font-size: 0.9rem;
}
.form-group {
	margin-bottom: 40px;
}