.donate-now {
  list-style-type:none;
  margin:25px 0 0 0;
  padding:0;
}

.donate-now li {
  float:left;
  margin:0 5px 0 0;
  width:100px;
  height:40px;
  position:relative;
}

.donate-now label, .donate-now input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius: 10px;
  text-align: center;
}

.donate-now input[type="radio"] {
  opacity:0.011;
  z-index:100;
}

.donate-now input[type="radio"]:checked + label {
  background: #5ec49e;
  /* background:black; */
}

.donate-now label {
  padding:5px;
  border:1px solid #CCC;
  cursor:pointer;
  z-index:90;
}

.donate-now label:hover {
  background:#DDD;
}

.donation-text {
  font-size: 20px;
  line-height: 2;
}
